.position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
  }
  
  .text-muted {
    color: #6c757d;
  }
  
  .pr-5 {
    padding-right: 2.5rem; /* Para dar espaço ao ícone */
  }
  
  input.form-control {
    padding-right: 2.5rem; /* Espaço para o ícone */
  }
  